
.ImgIcon {
  font-size: 0;
  line-height: 1;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ImgIcon-android {
  background-image: url('../../../../assets/imgIcon/android.png');
}


.ImgIcon-arrow_hover {
  background-image: url('../../../../assets/imgIcon/arrow_hover.png');
}


.ImgIcon-checked {
  background-image: url('../../../../assets/imgIcon/checked.png');
}
