/* antd message  */
.ant-btn-loading {
  .ant-btn-loading-icon {
    margin-right: 0.5rem;
    .anticon {
      vertical-align: middle;
    }
  }
}

.ant-message-notice-content {
  font-size: 1.6rem;
  .anticon-close-circle {
    top: 0;
    vertical-align: 0;
  }
}
